<%= form_tag(params.merge( :controller =>'admin/content', :action=>"merge"), method: 'post') do%>
    <h4><%= _("Merge Articles") %></h4>
    <%= label_tag(:article_id, "Article ID:") %>
    <%= text_field_tag(:article_id, nil, {:autocomplete => 'off', :style => 'width: 20%', :id => 'merge_with', :value => ""})%>
    <%= submit_tag "Merge"%>
  <% end %>
